@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root{
    --template-background: rgb(220, 220, 173);
    --template-color: black;
    --template-border: black;
    --html-background: rgb(172, 172, 133);
    --list-color: rgb(68, 68, 68);
    --title-color: rgb(15, 15, 15);
    --home-article-color: rgb(228, 228, 195);
    --home-article-shadow: rgb(100, 100, 87);
    --article-title: white;
    --formulaire-title: black;
    --nav-background: rgb(237, 237, 203);
    --nav-color: rgb(70, 70, 70);
    --admin-list: whitesmoke;
    --admin-text-list: black;
    --chats: beige;
    --chats-text: black;
    --menu-background: beige;
    --menu-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
}
html{
    width: 100%;
    min-height: 100vh;
}
html body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--html-background);    
}
body main{
    position: relative;
}
/****************************************************/
/****************************************************/
/********************** HEADER **********************/
/****************************************************/
/****************************************************/
header{
    background-color: var(--template-background);
    color: var(--template-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1{
    padding: 1em 0;
}
header h1 a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--template-color);
}
header .menu{
    position: absolute;
    top: center;
    left: 3em;
}
header .account{
    position: absolute;
    top: center;
    right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}
header section a{
    text-decoration: none;
    color: var(--template-color);
    font-size: 0.9rem;
    font-weight: 700;
}
header section i{
    font-size: 2rem;
    position: absolute;
    top: -0.5em;
    right: 0.4em;
}
header section div{
    position: absolute;
    top: 2.5em;
    right: 0.4em;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0.4em;
    border: 1px solid var(--template-border);
    border-radius: 3px; 
    z-index: 3;  
    background-color: var(--template-background);
}
header section div a{
    border-bottom: 1px dotted var(--template-border);
}
.hide{
    display: none;
}
.show{
    display: block;
}
/****************************************************/
/****************************************************/
/********************** NAVI ************************/
/****************************************************/
/****************************************************/
nav{
    width: 100%;
    height: fit-content;
    background-color: var(--nav-background);
    text-align: center;
}
nav ul li{
    border-top: 1px solid var(--nav-color);
    padding: 0.5em;
}
nav ul li a{
    text-decoration: none;
    color: var(--nav-color);
    font-weight: 600;
}
nav i{
    font-size: 2rem;
    color: var(--title-color);
}
/****************************************************/
/****************************************************/
/********************** FOOTER **********************/
/****************************************************/
/****************************************************/
footer{
    background-color: var(--template-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em 0;
}
footer section{
    display: flex;
    justify-content: center;
    gap: 2em;
}
footer section i{
    background-color: var(--home-article-color);
    color: var(--template-color);
    font-size: 2.2rem;
    padding: 0.3em;
    border: 4px solid var(--template-border);
    border-radius: 50%;
}
footer section .linkedin{
    padding: 0.3em 0.36em;
}
footer p{
    color: var(--template-color);
    font-size: 0.8rem;
}
footer p a{
    font-style: italic;
    text-decoration: none;
    color: var(--template-color);
}
/****************************************************/
/****************************************************/
/******************* FORMULAIRE *********************/
/****************************************************/
/****************************************************/
.formulaire{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulaire form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 80%;
    margin: 2em auto;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid var(--template-border);
    background-color: var(--home-article-color);
    box-shadow: 0px 0px 4px 1px var(--home-article-shadow);
}
.formulaire form input{
    width: 85%;
    border: 1px solid var(--template-border);
    border-radius: 3px;
    margin-bottom: 1em;
}
.formulaire h1{
    text-decoration: underline;
    color: var(--formulaire-title);
}
.formulaire form label{
    font-weight: 600;
    font-size: 1rem;
}
.formulaire form img{
    width: 100%;
}
.formulaire form textarea{
    width: 85%;
    height:10em;
    border: 1px solid var(--template-border);
    border-radius: 3px;
    color: var(--nav-color);
    margin-bottom: 1em;
}
.formulaire form button{
    width: fit-content;
    background-color: rgb(83, 147, 83);
    color: white;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s all ease;
}
.formulaire form button:hover{
    background-color: rgb(119, 238, 119);
    color: black;
    cursor: pointer;
}
.formulaire form button a{
    position: inherit;
}
.formulaire form a{
    text-decoration: none;
    position: absolute;
    right: 0.3em;
    bottom: 0;
    font-weight: 700;
}
/****************************************************/
/****************************************************/
/**************** NEWS LIST ADMIN *******************/
/****************************************************/
/****************************************************/
.news_list{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_add_news{
    width: fit-content;
    margin: 0.3em 0;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 2rem;
    padding: 0.07em 0.3em;
    background-color: rgb(115, 170, 115);
    box-shadow: 0px 0px 4px 2px rgb(61, 92, 61);
    transition: 0.3s all ease;
}
.button_add_news:hover{
    transform: scale(1.2);
}
.news_list section{
    width: 90%;
    color: var(--admin-text-list);
    background-color: var(--admin-list);
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 2px rgb(72, 72, 119);
    position: relative;
}
.news_list section h3{
    width: 70%;
    overflow-x: hidden;
}
.news_list section button{
    width: fit-content;
    margin: auto;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 1.5rem;
}
.news_list button a{
    color: black;
}
.button_view{
    position: absolute;
    top: 0.4em;
    right: 4.1em;
    padding: 0.07em 0.22em;
    background-color: rgb(119, 119, 213);
    box-shadow: 0px 0px 4px 2px rgb(84, 84, 146);
}
.button_edit{
    position: absolute;
    top: 0.4em;
    right: 2.2em;
    padding: 0.07em 0.25em;
    background-color: rgb(235, 175, 64);
    box-shadow: 0px 0px 4px 2px rgb(163, 124, 52);
}
.button_delete{
    position: absolute;
    top: 0.4em;
    right: 0.3em;
    padding: 0.1em 0.3em;
    background-color: rgb(234, 73, 73);
    box-shadow: 0px 0px 4px 2px rgb(154, 49, 49);
}
/****************************************************/
/****************************************************/
/******************** HOMEPAGE **********************/
/****************************************************/
/****************************************************/
.homepage{
    display: flex;
    flex-direction: column;
}
.homepage h1{
    text-align: center;
}
.news{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 26em;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0.5em auto 1em;
    padding: 0;
    gap: 0.5em;
    width: 95%;
    border-radius: 5px;
}
.news h1{
    text-align: center;
}
.news .new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 11.5em;
    padding: 0.5em;
    background-color: var(--home-article-color);
    text-align: center;
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow);
    border-radius: 5px;
}
.news .new img{
    width:100%;
}
.news .new a{
    color: var(--title-color);
}
.actus{
    width: 95%;
    margin: 0.5em auto 1em;
    background-color: var(--home-article-color);
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow);
    position: relative;
    border-radius: 5px;
}
.actus .all_actus{
    color: var(--list-color);
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0.5em;
    font-weight: 900;
}
.actus ul{
    padding-left: 2em;
    line-height: 1.8rem;
}
.actus ul li{
    width: fit-content;
}
.actus ul li a{
    text-decoration: none;
    color: var(--list-color);
}
/****************************************************/
/****************************************************/
/******************** NEWS VIEWS ********************/
/****************************************************/
/****************************************************/
.new_view{
    background-color: rgb(241, 241, 241);
    padding: 1em;
    margin: 0.5em;
}
.new_view h1{
    position: absolute;
    font-size:xx-large;
    font-weight: 900;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.new_view p{
    text-align: justify;
    margin: 1em 0;
    line-height: 1.3rem;
}
.new_view img{
    width: 50%;
    margin: 0;
    padding: 0;
}
.new_view .image_2{
    float: right;
    margin-left: 0.5em;
}
.new_view .image_3{
    float: left;
    margin-right: 0.5em;
}
.new_view header{
    position: relative;
    overflow: hidden;
    height: 10em;
}
.new_view header img{
    width: 100%;
}
.intro_concl{
    font-weight: 700;
    font-style: italic;
}
/****************************************************/
/****************************************************/
/******************** All NEWS LIST *****************/
/****************************************************/
/****************************************************/
.all_news_list{
    width: 95%;
    margin: 0.5em auto 1em;
    background-color: var(--home-article-color);
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow);
    position: relative;
}
.all_news_list h1{
    text-align: center;
    color: var(--title-color);
}
.all_news_list ul{
    padding-left: 2em;
    line-height: 1.8rem;
}
.all_news_list ul li{
    width: fit-content;
}
.all_news_list ul li a{
    text-decoration: none;
    color:var(--list-color);
}
.all_news_list > a{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-weight: 900;
}
.all_news_list i{
    color: var(--list-color);
}
/****************************************************/
/****************************************************/
/******************** ARTICLES VIEWS ****************/
/****************************************************/
/****************************************************/
.article_view{
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.article_view h1{
    font-size:xx-large;
    font-weight: 900;
    text-align: center;
}
.article_view p{
    text-align: justify;
    line-height: 1.3rem;
}
.article_view img{
    width: 80%;
    padding: 0;
    border: 10px double black;
}
/****************************************************/
/****************************************************/
/******************** FORUMS CHATS ******************/
/****************************************************/
/****************************************************/
.chats{
    padding: 1em;
    margin: 1em 0.5em;
}
.chats .chat{
    background-color: var(--chats);
    color: var(--chats-text);
    padding: 1em;
    margin: 0.2em 0.5em;
    border-radius: 10px;
    border:1px solid var(--template-border) ;
}
.chats form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-top: 1px solid var(--template-border);
    margin: 1em 0.5em;
    padding: 0.5em 0;
}
.chats form textarea{
    height: 5em;
}
.chats form button{
    padding: 0.5em;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(126, 176, 126);
    transition: 0.3s all ease;
}
.chats form button:hover{
    background-color: rgb(100, 142, 100);
    color: white;
    cursor: pointer;
}
.chats .chat div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px dotted black;
    font-size: 0.9rem;
    font-style: italic;
}
/****************************************************/
/****************************************************/
/***************** FORUMS CATEGORIES ****************/
/****************************************************/
/****************************************************/
.forum_category{
    background-color: var(--home-article-color);
    padding: 1em;
    margin: 0.5em;  
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow); 
}
.forum_category article{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.forum_category article p a{
    text-decoration: none;
    color: var(--menu-color);
    font-weight: 800;
    font-size: 1.7rem;
}
.forum_category article p{
    background-color: var(--menu-background);
    width: 45%;
    height: 5em;
    margin: auto;
    border: 2px solid var(--template-border);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px var(--home-article-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}
.forum_category article p:hover{
    border: 2px solid white;
    background-color: rgb(66, 66, 66);
}
.forum_category article p:hover a{
    color: white;
}
.button_home{
    text-align: center;
    margin: 1em 0 0.5em; 
}
.button_home a{
    color: var(--menu-color);
    font-size: 2rem;
}
/****************************************************/
/****************************************************/
/********************** ACCOUNT *********************/
/****************************************************/
/****************************************************/
.account_admin{
    background-color: var(--home-article-color);
    padding: 1em;
    margin: 0.5em;  
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow); 
}
.account_admin {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.account_admin p a{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.7rem;
}
.account_admin p{
    background-color: var(--menu-background);
    width: 45%;
    height: 5em;
    margin: auto;
    border: 2px solid var(--template-border);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px var(--home-article-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}
.account_admin p a{
    color: var(--menu-color);
}
.account_admin p:hover{
    border: 2px solid white;
    background-color: rgb(66, 66, 66);
}
.account_admin p:hover a{
    color: white;
}
/****************************************************/
/****************************************************/
/********************** CHATROOMS *******************/
/****************************************************/
/****************************************************/
.chatrooms{
    background-color: var(--home-article-color);
    padding: 1em;
    margin: 0.5em;  
    box-shadow: 1px 1px 5px 2px var(--home-article-shadow); 
}
.chatrooms {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.chatrooms h1{
    text-align: center;
}
.chatrooms>a{
    text-decoration: none;
    color: var(--menu-color);
    font-weight: 800;
    border: 1px solid var(--template-border);
    text-align: center;
    padding: 0.5em;
    background-color: var(--menu-background);
}
.chatrooms button{
    margin: 0 auto 0.4em;
}
.chatrooms button a{
    color: black;
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/******************************** TABLET ********************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
@media screen and (min-width: 600px){
    /****************************************************/
    /****************************************************/
    /********************** HEADER **********************/
    /****************************************************/
    /****************************************************/
    header h1{
        padding: 0.7em 0;
    }
    header h1 a{
        font-size: 2.5rem;
    }
    header .menu{
        left: 5em;
    }
    header .menu i{
        font-size: 3rem;
    }
    header section i{
        font-size: 3rem;
    }
    /****************************************************/
    /****************************************************/
    /********************** NAVI ************************/
    /****************************************************/
    /****************************************************/
    nav ul li{
        padding: 0.8em;
    }
    nav ul li a{
        font-size: 1.2rem;
    }
    /****************************************************/
    /****************************************************/
    /********************** FOOTER **********************/
    /****************************************************/
    /****************************************************/
    footer{
        padding: 1em 0;
    }
    /****************************************************/
    /****************************************************/
    /******************* FORMULAIRE *********************/
    /****************************************************/
    /****************************************************/
    .formulaire form input{
        font-size: 1.2rem;
        padding: 0.3em;
    }
    .formulaire h1{
        font-size: 1.7rem;
    }
    .formulaire form label{
        font-size: 1.3rem;
    }
    .formulaire form img{
        width: 50%;
    }
    .formulaire form textarea{
        font-size: 1.2rem;
        padding: 0.3em;
    }
    .formulaire form button{
        font-size: 1.2rem;
    }
    /****************************************************/
    /****************************************************/
    /**************** NEWS LIST ADMIN *******************/
    /****************************************************/
    /****************************************************/
    .news_list section h3{
        font-size: 1.5rem;
    }
    .button_view{
        top: 0.5em;
        right: 4.5em;
    }
    .button_edit{
        top: 0.5em;
        right: 2.4em;
    }
    .button_delete{
        top: 0.5em;
    }
    /****************************************************/
    /****************************************************/
    /******************** HOMEPAGE **********************/
    /****************************************************/
    /****************************************************/
    .homepage h1{
        font-size: 2rem;
    }
    .news{
        height: 44em;
    }
    .news h4{
        font-size: 1.5rem;
    }
    .news .new{
        height: 20em;
    }
    .news .new img{
        width:95%;
        overflow: hidden;
    }
    .actus .all_actus{
        font-size: 1.3rem;
    }
    .actus ul{
        padding:1em 0 1em 2em;
        line-height: 2rem;
        font-size: 1.3rem;
    }
    /****************************************************/
    /****************************************************/
    /******************** NEWS VIEWS ********************/
    /****************************************************/
    /****************************************************/
    .new_view{
        padding: 1.5em;
    }
    .new_view h1{
        font-size:4rem;
    }
    .new_view p{
        font-size: 1.2rem;
    }
    .new_view img{
        width: 40%;
    }
    .new_view .image_2{
        margin-left: 1em;
    }
    .new_view .image_3{
        margin-right: 1em;
    }
    /****************************************************/
    /****************************************************/
    /******************** All NEWS LIST *****************/
    /****************************************************/
    /****************************************************/
    .all_news_list h1{
        font-size: 2rem;
    }
    .all_news_list ul{
        font-size: 1.3rem;
        padding:1em 0 1em 3em;
        line-height: 2.5rem;
    }
    /****************************************************/
    /****************************************************/
    /******************** ARTICLES VIEWS ****************/
    /****************************************************/
    /****************************************************/
    .article_view h1{
        font-size:3rem;
    }
    .article_view p{
        font-size: 1.3rem;
    }
    .article_view img{
        width: 50%;
    }
    /****************************************************/
    /****************************************************/
    /******************** FORUMS CHATS ******************/
    /****************************************************/
    /****************************************************/
    .chats form textarea{
        font-size: 1.1rem;
    }
    .chats form button{
        font-size: 1.2rem;
    }
    .chats .chat div{
        font-size: 1rem;
    }
    .chats .chat > p{
        font-size: 1.2rem;
    }
    /****************************************************/
    /****************************************************/
    /********************** CHATROOMS *******************/
    /****************************************************/
    /****************************************************/
    .chatrooms>a{
        font-size: 1.5rem;
    }
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/******************************** TABLET ********************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
@media screen and (min-width: 1024px){
    /****************************************************/
    /****************************************************/
    /********************** HEADER **********************/
    /****************************************************/
    /****************************************************/
    header h1{
        padding: 0.7em 0;
    }
    /****************************************************/
    /****************************************************/
    /********************** NAVI ************************/
    /****************************************************/
    /****************************************************/
    nav ul li a{
        font-size: 1.4rem;
    }
    /****************************************************/
    /****************************************************/
    /******************* FORMULAIRE *********************/
    /****************************************************/
    /****************************************************/
    .formulaire h1{
        font-size: 1.9rem;
    }
    /****************************************************/
    /****************************************************/
    /******************** HOMEPAGE **********************/
    /****************************************************/
    /****************************************************/
    .news{
        height: 25em;
    }
    .news .new{
        height: 23em;
    }
    .actus ul{
        padding:1em 0 1em 3em;
        line-height: 2.3rem;
        font-size: 1.5em;
    }
    /****************************************************/
    /****************************************************/
    /******************** NEWS VIEWS ********************/
    /****************************************************/
    /****************************************************/
    .new_view p{
        font-size: 1.3rem;
    }
    .new_view .intro_concl{
        font-size: 1.4rem;
    }
    /****************************************************/
    /****************************************************/
    /******************** All NEWS LIST *****************/
    /****************************************************/
    /****************************************************/
    .all_news_list ul{
        font-size: 1.5rem;
    }
    /****************************************************/
    /****************************************************/
    /******************** ARTICLES VIEWS ****************/
    /****************************************************/
    /****************************************************/
    .article_view p{
        font-size: 1.5rem;
    }
    .article_view img{
        width: 30%;
    }
    /****************************************************/
    /****************************************************/
    /******************** FORUMS CHATS ******************/
    /****************************************************/
    /****************************************************/
    .chats form textarea{
        font-size: 1.2rem;
    }
    .chats form button{
        font-size: 1.3rem;
    }
    .chats .chat div{
        font-size: 1.1rem;
    }
    .chats .chat > p{
        font-size: 1.3rem;
    }
    /****************************************************/
    /****************************************************/
    /********************** CHATROOMS *******************/
    /****************************************************/
    /****************************************************/
    .chatrooms>a{
        font-size: 1.7rem;
    }
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/******************************** MINI SCREEN ***************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
@media screen and (max-width: 325px){
    header h1 a{
        font-size: 1.3rem;
    }
}
